First you want to import Pandas and Numpy and name them "np" for Numpy and "pd" for Pandas

In [2]:
import numpy as np
import pandas as pd

Next you want to import your data file using "pd.read_csv("name of file.csv")" and name it something you can remember. For this I used "df" for data file

In [5]:
df=pd.read_csv("CountyHealthData.csv")

Then narrow it down to the state you want by using df[df["State"]=="State you want"]. For this I chose "NC".

In [8]:
df[df["State"]== "NC"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3243,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2014,7123.0,0.192,...,10.48,0.259,0.073,8640.0,0.167,46.0,41394,0.444,4.94,0.202
3244,NC,South,South Atlantic,Alamance County,37001,37001,Region 20,1/1/2015,7291.0,0.192,...,12.38,0.249,0.088,9050.0,0.167,56.0,43001,0.455,4.60,NaN
3245,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2014,7974.0,0.178,...,22.74,0.240,0.077,9316.0,0.205,30.0,39655,0.417,6.27,0.273
3246,NC,South,South Atlantic,Alexander County,37003,37003,Region 20,1/1/2015,8079.0,0.178,...,24.04,0.239,0.076,9242.0,0.205,32.0,46064,0.449,7.20,NaN
3247,NC,South,South Atlantic,Alleghany County,37005,37005,Insuff Data,1/1/2014,8817.0,0.234,...,18.18,0.320,0.131,9585.0,0.210,55.0,34046,0.523,NaN,0.215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3438,NC,South,South Atlantic,Wilson County,37195,37195,Region 20,1/1/2015,8028.0,0.159,...,7.31,0.262,0.079,9450.0,0.107,77.0,40772,0.556,9.60,NaN
3439,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2014,7893.0,0.207,...,18.45,0.252,0.097,10084.0,0.158,32.0,40012,0.422,3.76,0.241
3440,NC,South,South Atlantic,Yadkin County,37197,37197,Region 20,1/1/2015,7258.0,0.207,...,20.21,0.242,0.094,10998.0,0.158,32.0,40998,0.455,NaN,NaN
3441,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2014,6872.0,0.193,...,20.79,0.268,0.110,7707.0,0.158,79.0,36019,0.477,NaN,0.176
3442,NC,South,South Atlantic,Yancey County,37199,37199,Region 15,1/1/2015,8917.0,0.193,...,28.02,0.246,0.091,7870.0,0.158,74.0,35866,0.469,NaN,NaN

Then use the .loc command to narrow down to the specific columns you want to see. For this I chose "State","County","Adult obesity",and "Access to exercise opportunities". Make sure to tag on at the end the command from earlier to narrow down to the state you chose [df["State"]== "your state"]. Also make sure to separate these cloumns by commas.

In [14]:
df.loc[:,["State","County","Adult obesity","Access to exercise opportunities"]][df["State"]== "NC"]

     State            County  Adult obesity  Access to exercise opportunities
3243    NC   Alamance County          0.341                             0.774
3244    NC   Alamance County          0.332                             0.842
3245    NC  Alexander County          0.272                             0.114
3246    NC  Alexander County          0.283                             0.240
3247    NC  Alleghany County          0.247                             0.695
...    ...               ...            ...                               ...
3438    NC     Wilson County          0.373                             0.541
3439    NC     Yadkin County          0.297                             0.279
3440    NC     Yadkin County          0.301                             0.553
3441    NC     Yancey County          0.287                             1.000
3442    NC     Yancey County          0.271                             1.000

[200 rows x 4 columns]

I used those specific commands to narrow down the data and to compare how adult obesity is affected in different North Carolina Counties by how many exercise opporunites each county has. Next you will need to find the county in that state that you want to focus on using the df["County"] command and input the number on the csv that corressponds to the row of that county.

In [35]:
df["County"][3408]

'Scotland County'

Now use the .loc command just like above but add the df["County"] command onto the end

In [36]:
df.loc[:,["State","County","Adult obesity","Access to exercise opportunities"]][df["County"]== "Scotland County"]

     State           County  Adult obesity  Access to exercise opportunities
2945    MO  Scotland County          0.355                             0.040
2946    MO  Scotland County          0.342                             0.040
3407    NC  Scotland County          0.364                             0.289
3408    NC  Scotland County          0.357                             0.662

Now you can compare the two different Scotland counties. The one in Missouri to the one in North Carolina. If the county you choose does not having a matching one in another state just compare to the other counties in that state. As you can see despite the lack of exercise opportunitites in Scotland county of Missouri the people there still are less obese than those of North Carolina.

Next use the .loc command again to compare the "Median household income" to the "Homicide rate" among counties in NC. Make sure to tag on at the end of the command the df["State"] command.

In [45]:
df.loc[:,["State","County","Median household income","Homicide rate"]][df["State"]== "NC"]

     State            County  Median household income  Homicide rate
3243    NC   Alamance County                    41394           4.94
3244    NC   Alamance County                    43001           4.60
3245    NC  Alexander County                    39655           6.27
3246    NC  Alexander County                    46064           7.20
3247    NC  Alleghany County                    34046            NaN
...    ...               ...                      ...            ...
3438    NC     Wilson County                    40772           9.60
3439    NC     Yadkin County                    40012           3.76
3440    NC     Yadkin County                    40998            NaN
3441    NC     Yancey County                    36019            NaN
3442    NC     Yancey County                    35866            NaN

[200 rows x 4 columns]

Now do the same thing we did above with the .loc command and add the df["County"] command to narrow the data down.

In [43]:
df.loc[:,["State","County","Median household income","Homicide rate"]][df["County"]== "Scotland County"]

     State           County  Median household income  Homicide rate
2945    MO  Scotland County                    35365            NaN
2946    MO  Scotland County                    36511            NaN
3407    NC  Scotland County                    31704          18.07
3408    NC  Scotland County                    32314          21.00

As you can see the homicide rate for the Scotland County of Missouri is not calculated but the household income is much higher than that of the Scotland county of North Carolina. This county also has a pretty high crime rate.

Next use the same .loc command but insert "Food insecurity" and "Diabetes". Make sure to use the same df["State"] command at the end.

In [46]:
df.loc[:,["State","County","Food insecurity","Diabetes"]][df["State"]== "NC"]

     State            County  Food insecurity  Diabetes
3243    NC   Alamance County            0.174     0.124
3244    NC   Alamance County            0.171     0.122
3245    NC  Alexander County            0.156     0.108
3246    NC  Alexander County            0.159     0.106
3247    NC  Alleghany County            0.174     0.114
...    ...               ...              ...       ...
3438    NC     Wilson County            0.226     0.130
3439    NC     Yadkin County            0.142     0.099
3440    NC     Yadkin County            0.145     0.097
3441    NC     Yancey County            0.159     0.109
3442    NC     Yancey County            0.160     0.116

[200 rows x 4 columns]

Then use the same .loc command above just use the df["County"] command to narrow down the data.

In [47]:
df.loc[:,["State","County","Food insecurity","Diabetes"]][df["County"]== "Scotland County"]

     State           County  Food insecurity  Diabetes
2945    MO  Scotland County            0.140     0.110
2946    MO  Scotland County            0.136     0.114
3407    NC  Scotland County            0.275     0.135
3408    NC  Scotland County            0.264     0.149

As you can see the more food insecurity an area has have the more obese the area is. This is likely due to the lack of quality food in an area like Scotland County of NC so people have to resort to cheaper more available food, which most of the time is unhealthy.

Next you need to name and create 2 different data frames by using pd.dataframe and listing your information for each column you choose. Make sure to put all of the information you focused on in the previous sections.

In [112]:
df1 = pd.DataFrame({"State":["MO","MO","NC","NC"],
                        "County":["Scotland County","Scotland County","Scotland County","Scotland County"],
                        "Median household income":[35365, 36511, 31704, 32314],
                        "Homicide rate":[0,0,18.07, 21.00]})
df2 = pd.DataFrame({"State":["MO","MO","NC","NC"],
                        "County":["Scotland County","Scotland County","Scotland County","Scotland County"], 
                        "Adult obesity":[0.355, 0.342, 0.364, 0.357],
                        "Access to exercise opportunities":[0.040, 0.040, 0.289, 0.662],
                        "Food insecurity":[0.140, 0.136, 0.275, 0.264],
                        "Diabetes":[0.110, 0.114, 0.135, 0.149]})

Now you need to merge these 2 data sets by using pd.merge in order to create your newly combined data set

In [113]:
pd.merge(df1,df2)

,State,County,Median household income,Homicide rate,Adult obesity,Access to exercise opportunities,Food insecurity,Diabetes
0,MO,Scotland County,35365,0.00,0.355,0.040,0.140,0.110
1,MO,Scotland County,35365,0.00,0.342,0.040,0.136,0.114
2,MO,Scotland County,36511,0.00,0.355,0.040,0.140,0.110
3,MO,Scotland County,36511,0.00,0.342,0.040,0.136,0.114
4,NC,Scotland County,31704,18.07,0.364,0.289,0.275,0.135
5,NC,Scotland County,31704,18.07,0.357,0.662,0.264,0.149
6,NC,Scotland County,32314,21.00,0.364,0.289,0.275,0.135
7,NC,Scotland County,32314,21.00,0.357,0.662,0.264,0.149

Then you should rename your newly merged data as something memorable like "MergedData" by putting "yourdataname"=pd.merge(dataset1, dataset2, how="outer").copy(). Make sure to include the "outer" part as that will include all of your data.

In [120]:
MergedData=pd.merge(df1, df2, how="outer").copy()

After that you should just type in the name you just gave to your data set to see if the data compiled correctly.

In [116]:
MergedData

,State,County,Median household income,Homicide rate,Adult obesity,Access to exercise opportunities,Food insecurity,Diabetes
0,MO,Scotland County,35365,0.00,0.355,0.040,0.140,0.110
1,MO,Scotland County,35365,0.00,0.342,0.040,0.136,0.114
2,MO,Scotland County,36511,0.00,0.355,0.040,0.140,0.110
3,MO,Scotland County,36511,0.00,0.342,0.040,0.136,0.114
4,NC,Scotland County,31704,18.07,0.364,0.289,0.275,0.135
5,NC,Scotland County,31704,18.07,0.357,0.662,0.264,0.149
6,NC,Scotland County,32314,21.00,0.364,0.289,0.275,0.135
7,NC,Scotland County,32314,21.00,0.357,0.662,0.264,0.149

Now you need to export your data into your own csv file. Use the .to_csv command to name your file and export it onto your computer. Make sure to include index=false if you do not want the index values included on your file.

In [123]:
MergedData.to_csv("MergedData.csv", index=False)

Now that you have done that your data should be all together in its own csv file.